
        <section class="w100">
            <div class="banner">
                <div class="banner_img"></div>
            </div>
        </section>
        <section class="w100 sec_bg">
            <article class="w1200"> 
                <div class="container_wrap">
                   <div class="cont_box1 cursor box">
                       <a href="intro">
                        <p class="box_title">시장소개</p>
                        <p class="box_txt">전 세계인과 함께하는, <br>
                            대한민국 대표 야시장을 소개합니다.</p>
                        <span class="box_bar"></span>
                        <p class="box_title">서문시장 야시장</p>
                        <p class="box_txt">
                            정기휴무 :  매주 화요일 <br>
                            일월수목    19:00 ~ 22:30 <br>
                            금토           19:00 ~ 23:30
                            </p>
                        </a>
                        <div class="box_more"><img src="img/main/more1.png" ></div>
                    </div>
                    <div class="cont_box2">
                        <div class="box_event box">
                            <input type="radio" name="slide" id="slide01" checked>
                            <input type="radio" name="slide" id="slide02">
                            <div class="slide_wrap">
                                <ul class="slidelist">
                                    <li>
                                        <a href="">
                                            <label for="slide01" class="left"></label>
                                            <span class="text_event3">코로나19 극복을 위한</span>
                                            <span class="text_event1">스마트오더</span>
                                            <span class="text_event2">비대면 주문 서비스</span>
                                            <span class="bg_left">
                                                <img src="img/main/bg_smart_left.png">
                                            </span>
                                            <span class="bg_right">
                                                <img src="img/main/bg_smart_right.png">
                                            </span>
                                            <label for="slide02" class="right"></label>
                                        </a>
                                    </li>
                                    <li class="tour">
                                        <a href="">
                                            <label for="slide01" class="left"></label>
                                            <span class="tour_event1">
                                                도전
                                                <i>!</i>
                                            </span>
                                            <span class="tour_event2">서문시장야시장</span>
                                            <span class="tour_event3">투어미션</span>
                                            <span class="bg_right">
                                                <img src="img/main/bg_tour_right.png">
                                            </span>
                                            <label for="slide02" class="right"></label>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="slide-pagelist">
                                    <li><label for="slide01"></label></li>
                                    <li><label for="slide02"></label></li>
                                    <li><label for="slide03"></label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box_info">
                            <div class="box_info_shop cursor box">
                                <a href="">
                                    <p class="box_title">점포안내</p>
                                    <p class="box_txt">
                                        서문 야시장의 <br>
                                        맛집과 멋집을 소개합니다.</p>
                                    <div class="box_more"><img src="img/main/more1.png" ></div>
                                </a>
                            </div>
                            <div class="box_info_map cursor box">
                                <a href="">
                                    <p class="box_title">오시는길</p>
                                    <div class="box_more"><img src="img/main/more1.png" ></div>
                                </a>
                            </div>
                       </div>
                    </div>
                    <div class="cont_box3">
                        <div class="box_notice box">
                            <p class="box_title">공지사항</p>
                            <span><a href="notice">서문야시장 ’22년 3월 영업 공지</a></span>
                            <span><a href="sub/notice.html">서문·칠성야시장 매대운영자 모집공고</a></span>
                            <div class="box_more"><img src="img/main/more1.png" ></div>
                        </div>
                        <div class="box_sns box">
                            <div class="sns_fb">
                                <a href="">
                                    <span class="sns fb"></span>
                                    <div  class="sns_title_wrap">
                                        <span class="sns_title non">서문야시장</span>
                                        <span class="sns_title">페이스북</span>
                                    </div>
                                </a>
                            </div>
                            <div class="sns_nb">
                                <a href="">
                                    <span class="sns nb"></span>
                                    <div class="sns_title_wrap">
                                        <span class="sns_title non">서문야시장</span>
                                        <span class="sns_title">블로그</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="w100 sec_bg sec2">
            <article class="event_wrap">
                    <p class="txt1">오감만족! 육감충족! 밤의 즐거움이 한자리에!</p>
                    <p class="txt2">서문시장 야시장과 함께하는 夜한 대구여행</p>
            </article>
            <article class="w1200 art">
                <div class="event">
                    <ul>
                        <li><a href=""><div class="event_img img1"></div></a></li>
                        <li><a href=""><div class="event_img img2"></div></a></li>
                        <li><a href=""><div class="event_img img3"></div></a></li>
                        <li><a href=""><div class="event_img img4"></div></a></li>
                        
                    </ul>
                </div>
            </article>
        </section>
        <section class="w100">
            <article class="w1200 foodwrap_txt">
                <div class="txt_wrap">
                    <h3>먹거리 살거리</h3>
                    <p>먹고 마시고 즐길 수 있는 대한민국 No.1 글로벌 야시장</p>
                </div>
                <div class="food_wrap">
                    <ul>
                        <li>
                            <a href="">
                                <img src="img/main/food1.jpg">
                                <p>
                                    금주의매대
                                    <span>레몬 쉬림프</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/main/food2.jpg">
                                <p>
                                    금주의매대
                                    <span>무뼈 닭발</span>
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/main/food3.jpg">
                                <p>
                                    금주의매대
                                    <span>큐브 스테이크</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="w100">
            <article class="w1200 promotion">
                <ul class="promotion_list">
                    <li>
                        <p>
                            여러분을 기다립니다!
                            <span>
                                야시장으로부터 전해오는 생생한 소식과 <br>
                                그 현장에 참여 해보세요 !
                            </span>
                        </p>
                    </li>
                    <li class="youtube">
                        <a href="https://www.youtube.com/watch?v=OdQ_ya1SF24&t=1s">
                            <img src="img/main/yt.JPG" alt="">
                            <div class="play"></div>
                        </a>
                    </li>
                    <li class="seller_box">
                        <div>
                            <a href="">
                                <img src="img/main/all1.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <img src="img/main/free1.png" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </article>
        </section>