
        <section class="w100 bnr_wrap">
            <div class="bnr intro">
                <div class="w1200 nav_wrap">
                    <h1>야시장 안내</h1>
                    <div class="navigation">
                        <div class="nav_left">
                            <div class="home">
                                <a href="/">
                                    <img src="../img/notice/home.png" alt="">
                                </a>
                            </div>
                            <div class="nav_title bg01"><a href="#">야시장소개</a></div>
                            <div class="nav_subtitle bg02"><a href="#">야시장안내</a></div>
                                <ul class="sub_menu">
                                    <li><a href="">야시장안내</a></li>
                                    <li><a href="">매대위치</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w1200 sec int_box1">
            <div class="txt_box">
                <h4>夜하게 놀자, 대한민국 대표 야시장</h4>
                <h3>서문시장야시장</h3>
                <h4>단순한 스트리트마켓이 아니다! <br>
                    글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장
                </h4>
            </div>
            <div class=" int_img int_img1"></div>
        </section>
        <section class="w1200 sec int_box2">
            <div class="txt_box">
                <h4>전 세계인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장’<br> </h4>
                <div class="txt_box1">
                    <h4>여러분과 함께 만들어가는</h4>
                    <h6>夜한 테마파크!</h6>
                </div>
            </div>
            <div class=" int_img int_img2"></div>
            <span class=" txt_box txt_box2">
                <h4>
                    서문시장 야시장은 2016년 6월에 개장한,
                    총거리 350M에 달하는 대형 야시장입니다. <br>
                    우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                    총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며 <br>
                    매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                    복합문화공간입니다. <br>
                    특히, 먹거리 일색인 타 야시장과는 달리
                    먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는 <br>
                    마법같은 관광지이기도 합니다.
                </h4>
            </span>
        </section>
        <section class="w1200 sec">
            <div class="txt_box">
                <span class="txt_box1">
                    <h4>연중무휴로 펼쳐지는</h4>
                    <h6> Fantastic Night Party!</h6>
                </span>
                <h4>야시장을 통한 성공적인 창업상단 육성!</h4>
            </div>
            <div class=" int_img int_img3"></div>
            <span class=" txt_box txt_box2">
                <h4>
                    서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
                    어디에서도 찾을 수 없는 경험을 제공합니다.<br>
                    글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식
                    우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.<br>
                    대구로 방문하신다면 반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.
                </h4>
            </span>
        </section>
        <section class="w1200 sec">
            <article>
                <div class="map">
                    <div class="txt_box">
                        <h3>서문시장 오시는길</h3>
                        <h4>대구 중구 큰장로 26길 55</h4>
                    </div>
                    <div class="map_img">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1359.3900759020794!2d128.58013504076092!3d35.86879425385493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e3ed438971d3%3A0x1b64cf689b1f3359!2z7ISc66y47Iuc7J6l!5e0!3m2!1sko!2skr!4v1649396288840!5m2!1sko!2skr" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </article>
            <article>
                <div class="traffic_wrap">
                    <div class="int_icon address"></div>
                    <div class="tf_txt">
                        <div class="traffic_txt">
                            <p class="txt_bold">주소</p>
                            <p class="txt_basic">대구 중구 큰장로 26길55</p>
                        </div>
                        <div class="traffic_txt">
                            <p class="txt_bold">문의전화</p>
                            <p class="txt_basic">035 256 6341</p>
                         </div>
                    </div>
                </div>
                <div class="traffic_wrap">
                    <div class="int_icon subway"></div>
                    <div class="tf_txt">
                        <div class="traffic_txt">
                            <span class="sub_icon sub_line3 txt1"></span>
                            <div class="p_sub">
                                <p class="txt_bold">서문시장역</p>
                                <p class="txt_basic">3번출구 도보 242M</p>
                            </div>
                        </div>
                        <div class="traffic_txt">
                            <span class="sub_icon sub_line2"></span>
                            <span class="sub_icon sub_line3"></span>
                            <div class="p_sub">
                                <p class="txt_bold">청라언덕역</p>
                                <p class="txt_basic">1번출구 도보 726M</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="traffic_wrap">
                    <div class="int_icon bus"></div>
                    <div class="tf_txt">
                        <div class="traffic_txt">
                            <span class="bus_icon bus1"></span>
                            <p class="txt_basic p_bus">156 240 300 309 323 405 425 523</p>
                        </div>
                        <div class="traffic_txt">
                            <span class="bus_icon bus2"></span>
                            <p class="txt_basic p_bus">북구2 성서2 <span class="bus_subtxt">(대곡-다사-대평-다사-서문시장) 성서2 (대곡-다사-하산스무지-다사-서문시장)</span></p>
                        </div>
                        <div class="traffic_txt">
                            <span class="bus_icon bus3"></span>
                            <p class="txt_basic p_bus">990</p>
                        </div>
                        <div class="traffic_txt">
                            <span class="bus_icon bus4"></span>
                            <p class="txt_basic p_bus">대구-광영-도흥-왜관 <span class="bus_subtxt">(대구북부,반고개,광영,도흥,왜관) 대구-용암-성주 (대구북부,반 고개,상신,화묵이)</span></p>
                        </div>
                        <div class="traffic_txt">
                            <span class="bus_icon bus5"></span>
                            <p class="txt_basic p_bus">급행1 급행5 급행6</p>
                        </div>
                        <div class="traffic_txt">
                            <span class="bus_icon bus6"></span>
                            <p class="txt_basic p_bus">250 606</p>
                        </div>
                    </div>
                </div>
                <div class="traffic_wrap">
                    <div class="int_icon time"></div>
                    <div class="table_wrap">
                        <table class="intro_tb">
							<thead>
							<tr class="int_tr">
								<th  scope="col"></th>
								<th class="day" scope="col">매주 화요일 정기휴무</th>
							</tr>
							</thead>
							<tbody>
							<tr class="int_tr">
								<th scope="row">평일 운영시간<br />(일, 월, 수, 목)</th>
								<td class="int_td">19:00 ~ 22:30</td>
							</tr>
							<tr class="int_tr">
								<th scope="row">주말 운영시간<br />(금, 토)</th>
								<td class="int_td">19:00 ~ 23:30</td>
							</tr>
							</tbody>
						</table>
                    </div>
                </div>
            </article>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/intro.js"></script>
        