
        <section class="join_pg">
            <h1>
                <a href=""><img src="../img/logo3.png" alt=""></a>
            </h1>
            <div>
                <div class="com_info">
                    <div>
                        <p>아이디</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>비밀번호</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>비밀번호 확인</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>이름</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>생년월일</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>전화번호</p>
                        <input type="text">
                    </div>
                </div>
                <div class="tab_content">
                    <input type="radio" name="tabmenu" id="tab01" checked>
                    <label for="tab01" class="tab_btn1">식품 셀러</label>
                    <input type="radio" name="tabmenu" id="tab02">
                    <label for="tab02" class="tab_btn2">프리마켓 셀러</label>
    
                    <div class="conbox con1">
                        <div class="seller">
                            <div>
                                <p>매대명</p>
                                <input type="text">
                            </div>
                            <div>
                                <p>주메뉴 / 희망가격</p>
                                <input type="text">
                            </div>
                            <div>
                                <p>보조메뉴 / 희망가격</p>
                                <input type="text">
                            </div>
                            <div>
                                <p>요식업 경력 및 기간</p>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="conbox con2">
                        <div class="seller">
                            <div>
                                <p>매대명</p>
                                <input type="text">
                            </div>
                            <div>
                                <p>판매상품 / 희망가격</p>
                                <input type="text">
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="join_btn">
                    <button>가입하기</button>
                </div>
            </div>
        </section>
   