
        <section class="log_height">
            <article class="login_pg">
                <h1>
                    <a href=""><img src="../img/logo3.png" alt=""></a>
                </h1>
                <div class="login_form">
                    <label for="">
                        <input type="id" placeholder="아이디" class="id">
                    </label>
                    <label for="">
                        <input type="password" placeholder="비밀번호 8자 이상" class="pw">
                    </label>
                    <button type="submit">
                        로그인
                    </button>
                </div>
                <div class="login_bot">
                    <ul>
                        <li><a href="">아이디 찾기</a></li>
                        <li>|</li>
                        <li><a href="">비밀번호 찾기</a></li>
                        <li>|</li>
                        <li><a href="join">회원가입</a></li>
                    </ul>
                </div>
            </article>
        </section>
